/* body {
    margin: 0px;
} */
#root {
    margin-left: auto;
    margin-right: auto;
}

table {
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-collapse: collapse;
}

td {
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: solid grey 1px;
}

.show-pointer:hover {
    cursor: pointer;
}