@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    width: 100vw; 
    height: 99vh;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

#main {
    width: 99vw; 
    height: 88vh;
    background-image: url('../images/spiral.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#loading {
    width: 99vw; 
    height: 88vh;
    background-image: url('../images/matrix-gif.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.game-card {
    width: 18rem;
}
.game-card:hover {
    font-weight: bold;
}

.hover-pointer:hover{
    cursor: pointer;
}

.cust-header-background{
    background-image: url();
}

.max-card{
    max-width: 600px;
}

.max-view{
    max-width: 1000px;
}

.phone{
    z-index: 4;
    text-align: right;
    display: block;
    position: fixed;
    padding: 5px;
    bottom: 70px;
    right: 1%;
}

.skype{
    z-index: 4;
    text-align: right;
    display: block;
    position: fixed;
    padding: 5px;
    bottom: 10px;
    right: 1%;
}

.comms-image{
    width: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    vertical-align: middle;
}

.card-1-bg{
    background-color: rgb(219, 245, 245);
}

.card-2-bg{
    background-color: rgb(41, 16, 0);
}

.paragraph-seperator{
    border: solid 1px;
    border-color: rgba(100,100,100);
}

.warning-bg{
    background-color: rgba(255, 168, 168, 0.801);
}

.alert-bg{
    background-color: rgba(255, 221, 109, 0.493);
}

.success-bg{
    background-color: rgba(130, 248, 146, 0.541);
}

.primary-bg{
    background-color: rgb(17, 81, 255);
    border-radius: 5px;
}

.circle-img{
    border-radius: 50%;
    max-width: 200px;
}
.circle-img-profile-list{
    border-radius: 50%;
    max-width: 100px;
}

.add-img-btn{
    width: 25px;
}

.hidden-el{
    display: none;
}

.dashboard-button:hover{
    background-color: rgb(143, 201, 255);
    border-color: rgb(84, 172, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.danger-dashboard-button:hover{
    background-color: rgb(255, 118, 118);
    border-color: rgb(255, 50, 50);
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.strip-link{
    color: rgb(0, 0, 0);
}

.strip-link:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.strip-link-black{
    color: rgb(0, 0, 0);
}

.strip-link-black:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.light-blue-card{
    background-color: rgba(193, 225, 255, 0.589);
}

.light-green-card{
    background-color: rgba(207, 253, 201, 0.541);
}

.light-warning-card{
    background-color: rgba(255, 242, 166, 0.637);
}

.hourly-rate{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding-top: 40px;
    font-size: 25px;
    font-weight: 900;
    background-color: rgb(143, 201, 255);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    top: 10px;
    left: -10px;
}

#service-charge{
    text-align: right;
    border: solid 2px rgb(0, 87, 7);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    padding-top: 2px;
    padding-right: 4px;
    background-color: rgb(4, 179, 27);
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    top: -40px;
    left: 60px;
}

.little-flag{
    max-width: 45px;
}

#rolling-jokes {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75vh;
}

#rolling-jokes::-webkit-scrollbar {
    width: 15px;
}

#rolling-jokes::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}

#rolling-jokes::-webkit-scrollbar-thumb {
    background-image: url('../images/pool.jpg');
    border-radius: 10px;
    height: 10px;
}