* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

td {
    text-align: center;
}


#game-nav-vertical-1 {
    position: absolute;
    z-index: 100;
    bottom: 50px;
    left: 55px;
    height: 50px;
    width: 50px;
}

#game-nav-vertical-1 p {
    position: absolute;
    z-index: 100;
    bottom: 12px;
    left: 17px;
    font-weight: 900;
}

#game-nav-vertical-2 {
    position: absolute;
    z-index: 150;
    bottom: -50px;
    left: 55px;
    height: 50px;
    width: 50px;
    font-weight: 900;
}

#game-nav-vertical-2 p {
    position: absolute;
    z-index: 100;
    bottom: 10px;
    left: 17px;
    font-weight: 900;
}

#game-nav-horizontal-1 {
    position: absolute;
    z-index: 200;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 50px;
}

#game-nav-horizontal-1 p {
    position: absolute;
    z-index: 100;
    bottom: 10px;
    left: 15px;
    font-weight: 900;
}

#game-nav-horizontal-2 {
    position: absolute;
    z-index: 250;
    bottom: 0px;
    left: 110px;
    height: 50px;
    width: 50px;
}

#game-nav-horizontal-2 p {
    position: absolute;
    z-index: 100;
    bottom: 10px;
    left: 20px;
    font-weight: 900;
}

#game-nav-center {
    position: absolute;
    z-index: 300;
    bottom: 0px;
    left: 55px;
    height: 50px;
    width: 50px;
}